body {
  background-color: #151515;
}

.container {
  width: 98%;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 30px ;
  margin-bottom: 30px ;
}

.container img {
  max-width: 100% ;
  margin-left: auto ;
  margin-right: auto ;
  display: block;
}