@font-face
{
 font-family: 'miFont';
 src: url('../fonts/cp.ttf') format('truetype'), 
 url('../fonts/cp.svg') format('svg'); 
} 


body {
  background-color: #151515;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'miFont', monaco;
  color: #FFD119;
}

.container {
  width: 98%;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 30px ;
  margin-bottom: 30px ;
}

.iframe-rwd-original  {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.iframe-rwd  {
	position: relative;
	padding-bottom: 65.25%;
	overflow: hidden;
}
.iframe-rwd iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.container img {
  max-width: 100% ;
  margin-left: auto ;
  margin-right: auto ;
  display: block;
}
